/** For all html **/

body {
    font-family: 'Kanit', sans-serif;
}

nav {
    height: 130px;
}

.content_word {
    font-size: 24px;
}

.nav_sm_word {
    font-size: 22px;
}

.nav_word {
    font-size: 26px;
}

.sm_word {
    font-size: 19px;
}

.navbar {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.hide {
    opacity: 0;
    display: none;
}

.nav_color {
    color: #ebedec;
}

.nav_other_color {
    color: #393E46;
}

.nav-item:hover {
    color: #505050;
}

.bg-height {
    height: 100%;
}

.title {
    color: #ebedec;
    background-color: transparent;
    font-size: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Teko', sans-serif;
    word-spacing: 20px;
}

.border_right {
    border-right: 2px solid rgba(255, 255, 255, .75);
}

.border_left {
    padding-left: 10px;
    border-left: 8px solid #363236;
}

.color_brown {
    color: #725f5a;
    border-color: #725f5a;
}

.color_green {
    color: #5B6044;
}

.word_green {
    color: #383b2a;
}

.word_green:hover {
    color: #747a57;
}

.title1 {
    top: 40%;
}

.title2 {
    top: 55%;
}

.whole_page {
    height: 100vh;
    position: relative;
}

.min_whole_page {
    position: relative;
    top: 2vh;
    min-height: 100vh;

}

.other_place {
    position: absolute;
    left: 15%;
    top: 20%;
    display: inline-block;
}

.footer {
    position: relative;
    height: 5vh;
    background-color: #4d4841;
}

.big_word {
    font-size: 60px;
}

.content {
    position: relative;
}

.line {
    border-top: 1px solid #8c8b8b;
}

.about_word {
    position: absolute;
    left: 13%;
    top: 30%;
}

.other_word {
    position: relative;
    -webkit-filter: drop-shadow(6px 6px 4px rgba(163, 147, 145, 0.5));
    filter: drop-shadow(6px 6px 4px rgba(163, 147, 145, 0.5))
}

.company_word {
    font-size: 40px;
    border-bottom: 2px
}

.item_block {
    position: absolute;
    left: 37%;
    top: 23%;
    width: 55vw;
    height: 60vh;
}

.other_bolck {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60vw;
    height: 800px;
}

.other_introduction {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70vw;
}

.button_up {
    z-index: 1;
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;
}

.button_up:focus {
    outline: none;
    -webkit-appearance: none;
}

.button_up:hover {
    color: #939c6d;
}

.bookmark {
    margin-top: 50px;
}


/** index.html **/

#introduction {
    font-family: 'Play', sans-serif;
    position: relative;
    top: 15vh;
    width: 65vw;
    left: 50vw;
    transform: translateX(-50%);
    line-height: 60px;
    letter-spacing: 1.5px;
}

.down {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    z-index: 1;
    height: 70px;
    width: 70px;
    background-color: transparent;
    border-radius: 35px;
    border-color: transparent;
    outline: none;
    -webkit-appearance: none;
}

.down:focus {
    outline: none;
    -webkit-appearance: none;
}

.down:hover {
    background-color: #949494;
}

.down_icon {
    position: relative;
    float: center;
    top: -10px;
}

.page {
    height: 60vh;
    margin-left: 5px;
}

.carousel-inner,
.carousel-item {
    height: 60vh;
    margin: 0;
}

.carousel-indicators li {
    background-color: #313131;
    height: 5px;
}

.carousel-control i {
    color: #313131;
}

.carousel-indicators .active {
    background-color: #a39e9e;
}

.person {
    height: 100%;
    width: 32%;
    margin-left: 10px;
    border: 2px solid #dadada;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.item {
    height: 100%;
    width: 100%;
    border: 2px solid #dadada;
    background-color: #EFEFEF;
}

.carousel-control {
    z-index: 1;
}

.third {
    background-color: rgba(194, 186, 176, 0.5);
}


/** search.html **/

.search,
.search_result {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

select {
    background-image:
        linear-gradient(45deg, transparent 50%, #4C4C4E 50%),
        linear-gradient(135deg, #4C4C4E 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;

    margin-left: 20px;
    width: auto;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #4C4C4E;

    padding-left: 10px;
    padding-right: 50px;

    outline: none;
    -webkit-appearance: none;
}

select:focus {
    background-image:
        linear-gradient(45deg, transparent 50%, #8d776e 50%),
        linear-gradient(135deg, #8d776e 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: #8d776e;
    outline: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: text-top;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #736666;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.search_result input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.search_result label {
    color: #675f6b;
    display: inline-block;
    padding: 5px 20px;
    margin: 0;
}

.search_result input[type=radio]:checked+label {
    background-color: rgba(133, 121, 121, 0.5);
}

.search_result .radio-group {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.search_div {
    height: 180px;
    border: 2px solid #eaeaea;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    margin-top: 15px;
}

.search_div:hover {
    background-color: #eaeaea;
}

.search_div i {
    margin-right: 8px;
}

.search_div .row i {
    color: #725f5a;
}

.search_div_name {
    font-size: 24px;
    margin: 5px 2px;
}

.search_div_loc {
    font-size: 16px;
    padding-bottom: 3px;
    color: #716e77;
}

.search_result select {
    color: #513533;
    border-top: 2px solid #b9a795;
    border-bottom: 2px solid #b9a795;
    margin: 0;
}

.search_result .page-link {
    border: 2px solid #b9a795;
    color: #b9a795;
}

.wait {
    position: relative;
    height: 500px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #bab8bd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}